<!DOCTYPE html>
<html>  
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/style.css">
</head>
<div class="sidenav">
  <a href="#about">Hakkında</a>
  <a href="#contact">İletişim</a>
</div>
<div class="main">
    <h2>QUIZ</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore odio,
        dolor laudantium ea animi neque debitis commodi reprehenderit enim rerum provident,
        suscipit esse maiores nam, quidem rem. Optio, doloribus dolor.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dicta ut,
     minima odit quod itaque fuga voluptates quia incidunt, consectetur sunt?
      Ut expedita enim eaque nisi? Obcaecati sint ipsa voluptates!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, tenetur? Quaerat,
     ratione facilis sapiente perferendis aliquid quidem corrupti similique iure veniam,
     modi eaque minima esse ut odio eveniet! Vel, fugiat.</p>
</div>
</html>